<h1><img src="/icon/group_24.png" width="24" height="24" alt="Group:" class="icon" />
<a href="<%= group_path(@group) %>"><%= h @group.name %></a></h1>
<div class="steps">
<h2>New Membership<%
if @user and @user.id
	%> for <img src="/icon/contact.png" width="16" height="16" alt="Contact" class="icon" /><%= link_to @user.nickname, @user.profile_path %><%
end
%></h2>
<%= error_messages_for :membership %>
<div class="step_form">
<% form_for(:membership, :url=>group_memberships_path(@group)) do |f|
	%>

<p class="warning">••• NEED TO ADD SECTION TO THIS FORM FOR CREATING THE USER RECORD IF THE USER IS NOT LOGGED IN</p>


<%= render :partial=>'form' %>
<% end -%>
</div>
</div>
<%= render :partial=>'standard'%>