<%
subsection ||= @subsection || 'groups'

%><%= render :partial=>'header', :locals=>{:subsection=>subsection} %>

<h2><%= pluralize(@groups.size, 'group') %> <%= @groups.size == 1 ? 'belongs' : 'belong' %> to this group</h2>
<%

@groups.each do |group|
	%><p class="group"><%= link_to h(group.title), group_path(group) %>.</p>
<%
end

%><p>
<%=	# New Sub Group
link_to('<img src="/icon/new.png" width="16" height="16" alt=" " class="icon" /> Add New Subgroup',
	subgroup_group_path(@group),
	{:class=>'button', :title=>"Add new sub-group to this group"})
%><span class="separator">.</span></p>

<%= render :partial=>'footer', :locals=>{:subsection=>subsection} %>
<%= render :partial=>'standard'%>