<div class="event-schedule">
<p><abbr class="dtstart" title="<%= schedule.start_at.to_s(:microformat) %>"><%=
	schedule.start_at.to_s(:event_date)
%></abbr><%
unless schedule.end_at.nil? %> to <abbr class="dtend" title="<%= schedule.end_at.to_s(:microformat) %>"><%=
	schedule.end_at.to_s(:event_date)
%></abbr><%
end
%></p>
<%

schedule.locations.each do |location|
	%><%= render :partial=>'locations/location', :locals=>{:location=>location} %><%
end

unless schedule.info.blank?
	%><p class="event-schedule-info"><%= h schedule.info %></p>
<%
end %></div>
