<%
# REQUIRED
# chunk
unless chunk
	if chunk_type == 'raw'
		chunk = RawChunk.new
	elsif chunk_type == 'item'
		chunk = ItemChunk.new
	elsif chunk_type == 'list'
		chunk = ListChunk.new
	else
		raise 'no chunk and no chunk_type specified'
	end
	chunk.page = @page
end
		

chunk_label = "chunk_#{chunk.id}"
field_prefix = "chunks[#{chunk.id}]"

# TODO: ••• set input element ids appropriately
# TODO: ••• set input element names appropriately chunk[]

fields_for chunk do |f|
%>
<div id="<%= chunk_label %>" class="form_chunk">
<% # style="cursor:move;"
#= draggable_element chunk_label, :ghosting=>true, :revert=>true 
-%>
<input type="hidden" name="<%= field_prefix %>[type]" value="<%= chunk.xmltag_type %>" />
<table cellspacing="0">
<thead><tr><th colspan="2"><h3 class="flat-left" style="vertical-align:middle;"><a href="" title="Move this chunk up on the page (relative to the other chunks)"><img src="/icon/arrow_up.png" width="16" height="16" alt="up" align="top" class="icon" /></a><a href="" title="Move this chunk down on the page (relative to the other chunks)"><img src="/icon/arrow_down.png" width="16" height="16" alt="down" align="top" class="icon" /></a>
<%= chunk.xmltag_type.capitalize unless chunk.is_a? RawChunk %> Chunk
<a href="#" onclick="Element.remove('<%= chunk_label %>'); return false;" title="delete this chunk from the page"><img src="/icon/delete.png" width="16" height="16" alt="delete" align="top" class="icon" /></a></h3>
<%= f.hidden_field :part, :name=>"#{field_prefix}[part]", :id=>"#{chunk_label}_part" %>
<%= f.hidden_field :position, :name=>"#{field_prefix}[position]", :id=>"#{chunk_label}_position" %>
<% flavours = [ ['Normal',''], ['Feature','feature'] ]
%><%= f.select :flavour, flavours, {}, {:name=>"#{field_prefix}[flavour]", :id=>"#{chunk_label}_flavour", :class=>"flat-right", :title=>'Specify the flavour for this chunk of the page (‘featured’ items will be highlghted)'} %></th></tr></thead>
<tbody>
<%
#<tr><td colspan="2"><label for="<%= chunk_label % >_part">Part:</label>
#	<% parts = [ ['Content','content'], ['Sidebar','sidebar'] ]
#	% ><%= f.select :part, parts, {}, {:name=>"#{field_prefix}[part]", :id=>"#{chunk_label}_part"} % >
#<label for="<%= chunk_label % >_position">Position:</label>
#	<%= f.text_field :position, :size=>4, :class=>'fixed', :name=>"#{field_prefix}[position]", :id=>"#{chunk_label}_position" % ></td></tr>


if chunk.is_a? RawChunk
-%>
<tr id="<%= chunk_label %>_content_wrap"><td colspan="2"><%= render :partial=>'content_field', :locals=>{:f=>f, :content=>chunk.content, :content_type=>chunk.content_type, :field_id=>"#{chunk_label}_content", :name_prefix=>"#{field_prefix}"} %>
<%
# hide content type switching unless it’s not already html
if chunk.content_type.blank? or chunk.content_type == 'text/html'
	%><%= hidden_field_tag "#{field_prefix}[content_type]", 'text/html' %>
<%
else
	%><br /><input type="hidden" name="#{field_prefix}_old_content_type" value="<%= h chunk.content_type %>" id="#{chunk_label}_old_content_type" />
<label for="<%= chunk_label %>_content_type">Content Type:</label>
<%	content_types = [
		['Formatted (HTML) text','text/html'],
		['Plain text','text/plain'],
		#['Markdown auto-formatted text','text/markdown'],
		#['Message Board text (BBCode)','text/bbcode'],
		['Textilize','text/textilize']
		]
	#content_types << ['HTML formatted text','text/html'] if User.current_user.admin?
	%><%= f.select :content_type, content_types, {}, {:onchange=>"return change_content_type('#{chunk_label}');", :name=>"#{field_prefix}[content_type]", :id=>"#{chunk_label}_content_type"} %>
<span id="<%= h chunk_label %>_change_type_progress" style="display:none" onclick="Element.hide('<%= h chunk_label %>_change_type_progress');"><img src="/images/indicator.gif" width="16" height="16" alt=" " class="diricon" /> Converting Content…</span>
	<br /><span class="help">Formatted text uses standard HTML markup to define headings, tables, bold, italic, etc.
	<br />Plain text is just plain paragraphs, no special formatting.</span><%
end
%></td></tr>
<%

elsif chunk.is_a? ItemChunk
-%>
<tr><th><label for="<%= chunk_label %>_item_type">Item Type:</label></th>
	<td><%= f.select :item_type, chunk.recognized_item_types,
		{:id=>"#{chunk_label}_item_type", :name=>"#{field_prefix}[item_type]", :id=>"#{chunk_label}_item_type"} %></td></tr>
<tr class="alternate"><th><label for="<%= chunk_label %>_item">Item:</label></th>
	<td>••• search by key or id, :name=>"#{field_prefix}[item_id]", :id=>"#{chunk_label}_item_id"</td></tr>

<%

elsif chunk.is_a? ListChunk
-%>
<tr><th><label for="<%= chunk_label %>_item_type">Item Type:</label></th>
	<td><%= f.select :item_type, chunk.recognized_item_types,
		{:id=>"#{chunk_label}_item_type", :name=>"#{field_prefix}[item_id]", :id=>"#{chunk_label}_item_id"} %></td></tr>
<tr class="alternate"><th><label for="<%= chunk_label %>_max">Maximum #:</label></th>
	<td>The maximum number of items to show from the list:
	<br /><%= f.text_field :max, :size=>6, :maxlen=>5, :name=>"#{field_prefix}[max]", :id=>"#{chunk_label}_max", :class=>'fixed' %></td></tr>
<tr><th></th>
	<td><%= f.check_box :tags, :name=>"#{field_prefix}[paginate]", :id=>"#{chunk_label}_paginate" %><label for="<%= chunk_label %>_paginate">Show Pagination</label>
	<br />This will allow users to ‘page’ through the list if it exceeds the maximum number of items to display per page.</td></tr>
<%
#<tr class="alternate"><th><label for="<%= chunk_label % >_parent">Parent Item:</label></th>
#	<td>Optionally restrict the list to items under this “parent” item:
#	<br />••• search by key or id, :name=>"#{field_prefix}[parent_id]", :id=>"#{chunk_label}_parent_id"</td></tr>
#<tr><th><label for="<%= chunk_label % >_user">User:</label></th>
#	<td>Optionally restrict the list to items owned by a specific user:
#	<br />••• search by key or id, :name=>"#{field_prefix}[user_id]", :id=>"#{chunk_label}_user_id"</td></tr>
%><tr class="alternate"><th><label for="<%= chunk_label %>_key">Keyword/phrase:</label></th>
	<td>Optionally restrict the list to items that can be found with this keyword or key-phrase:
	<br /><%= f.text_field :key, :name=>"#{field_prefix}[key]", :id=>"#{chunk_label}_key" %></td></tr>
<tr><th><label for="<%= chunk_label %>_tags">Tags:</label></th>
	<td>Optionally restrict the list to items tagged with all of these tags:
	<br /><%= f.text_field :tags, :name=>"#{field_prefix}[tag]", :id=>"#{chunk_label}_tag" %>
	<br />(each tag is all lower-case, just letters and numbers, separated by spaces)</td></tr>
<tr><th>Articles:</th>
	<td>If you are listing Articles, you can apply these restrictions:
	<br /><table cellspacing="0">
	<tr><th><label for="<%= chunk_label %>_author">Author:</label></th>
	<td><%= f.text_field :max, :maxlen=>255, :name=>"#{field_prefix}[author]", :id=>"#{chunk_label}_author" %></td></tr>
	<tr><th><label for="<%= chunk_label %>_issue">Issue:</label></th>
	<td><%= f.text_field :max, :maxlen=>255, :name=>"#{field_prefix}[issue]", :id=>"#{chunk_label}_issue" %></td></tr>
	</table></td></tr>
<%
# date restrictions (before_date, after_date, published_on)
# template
-%>
<%

else
	raise
end
%>

</tbody></table>
</div>
<%
end
%>
