<%
content_for("head") do
	%><%= javascript_include_tag :fckeditor
	%><script type="text/javascript" charset="utf-8">
function change_content_type() {
	var theContent = $F('page_content');
	if($F('old_content_type') == 'text/html') {
		theContent = FCKeditorAPI.GetInstance('page_content').GetXHTML();
	}
	var u = new Ajax.Updater('content_field', '<%= content_switch_path() %>', {
		//asynchronous:true, DEFAULT
		evalScripts:true, parameters: {
			old_content_type: $F('old_content_type'),
			content_type: $F('page_content_type'),
			content: theContent
		},
		onCreate: function(requestor, xhr_obj){
			Element.show('change_type_progress');
		},
		onComplete: function(){
			Element.hide('change_type_progress');
		},
	});
	//string.urlEncode()
	//encodeURIComponent($F('page_content'))
	return false;
}
</script>
<%
end

fields_for :page do |f|
%><table cellspacing="0">
<%
if @page.parent
	%><thead><tr><th>Parent Page:</th> <td><strong><%= link_to(@page.parent.title, @page.parent.sitepath, {:class=>@page.parent.css_class('dir-')}) %></strong>
	<input type="hidden" name="id" value="<%= @page.parent.id %>" /></td></tr></thead>
<%
end
%><tbody>
<tr><th><label for="page_subpath">Subpath:</label></th>
	<td><%= h(@page.parent.sitepath) if @page.parent
	%><%= (@page.parent && @page.parent.sitepath == '/') ? nil : '/'
	%><%= f.text_field :subpath, :size=>32, :class=>'fixed' %>
	<br />Setting the subpath will set the web-link url for this page
	(e.g., “http://website/<b>subpath</b>”).
	<br />If this page has a parent page, the subpath will be relative to the parent page’s subpath (e.g., “http://website/parent-subpath/<b>subpath</b>”).
	<br />Only the following characters may be used, no spaces: <b>A-Z a-z 0-9 - _</b></td></tr>
<tr class="alternate"><th><label for="page_title">Title:</label></th>
	<td><%= f.text_field :title %></td></tr>
<tr><th><label for="page_description">Description:</label></th>
	<td><%= f.text_field :description %>
	<br />The description is used when listing pages, and by some search engines.</td></tr>
<tr class="alternate"><th><label for="page_content">Content:</label></th>
	<td id="content_field"><%= render :partial=>'content_field', :locals=>{:f=>f, :content_type=>@page.content_type} %></td></tr>
<tr class="alternate"><th><label for="page_content_type">Content Type:</label></th>
	<td><%
	content_types = [
		#['Auto-formatted text (Markdown)','text/markdown'],
		#['Message Board text (BBCode)','text/bbcode'],
		['Plain text','text/plain'],
		['HTML formatted text','text/html']
		# ['Textilize','text/textilize']
		]
	#content_types << ['HTML formatted text','text/html'] if User.current_user.admin?
	%><%= f.select :content_type, content_types, {}, {:onchange=>'return change_content_type();'} %>
<span id="change_type_progress" style="display:none" onclick="Element.hide('change_type_progress');"><img src="/images/indicator.gif" width="16" height="16" alt=" " class="diricon" /> Converting Content…</span>
<%	#	<br />Auto-formatted text allows you to use the formatting described above.
%>		<br />Plain text is just plain paragraphs, no special formatting.
		<br />HTML is for text formatted using standard HTML markup.</td></tr>
<tr><th><label for="page_keywords">Keywords:</label></th>
	<td><%= f.text_field :keywords %>
		<br />Comma-separated.</td></tr>
</tbody>
<tfoot><tr><td></td><td><%= submit_tag "Save", :disable_with=>"Saving…" %></td></tr></tfoot>
</table>
<% end %>