<%
page ||= @page
pages ||= {}
row_id ||= "page_#{page.id}"

%><li id="<%= row_id %>" class="<%= page.css_class('dir-') %><%= cycle '', ' alternate' %>"><%

if page.children.nil? or page.children.size < 1
	%><img src="/icon/expand-off.png" width="16" height="16" alt="Empty" class="diricon" title="There are no sub-pages for this page" /><%
elsif false #pages
	%><img src="/icon/expanded.png" width="16" height="16" alt="Expanded" class="diricon" /><%
else
	
	# {row_id}_busy indicator
	%><span class="tight"><img src="/images/indicator.gif" width="16" height="16" alt="Loading…" class="diricon" id="<%= row_id %>_busy" style="display:none;" /><%
	if pages.size <= 0
		%><%=
		# {row_id}_expand_remote Expander for when children not yet loaded
		link_to_remote(
			'<img src="/icon/expand.png" width="16" height="16" alt="Expand" class="diricon" />',
			{:url=>{:controller=>'pages', :action=>'index', :id=>page},
			:method=>:get,
			:loading=>"Element.show('#{row_id}_busy'); Element.hide('#{row_id}_expand_remote');",
			:loaded=>"Element.show('#{row_id}_collapse'); Element.hide('#{row_id}_busy');",
			:update=>"#{row_id}_pages"},
			{:href=>url_for({:controller=>'pages',:action=>'index', :id=>page}),
				:title=>"Show the children of this #{page.class}",
				:id=>"#{row_id}_expand_remote"}
		) %><%
	end
	%><%=
	
	# {row_id}_expand Expander for when children already loaded
	link_to_function(
		'<img src="/icon/expand.png" width="16" height="16" alt="Expand" class="diricon" />',
		"Element.show('#{row_id}_pages');
		Element.show('#{row_id}_collapse');
		Element.hide('#{row_id}_expand');",
		:title=>"Show the children of this #{page.class}",
		:id=>"#{row_id}_expand",
		:style=>'display:none;'
	) %><%=
	
	# {row_id}_collapse Collapser - hides children
	link_to_function(
		'<img src="/icon/expanded.png" width="16" height="16" alt="Collapse" class="diricon" />',
		"Element.hide('#{row_id}_pages');
		Element.show('#{row_id}_expand');
		Element.hide('#{row_id}_collapse');",
		:title=>"Hide the children of this #{page.class}",
		:id=>"#{row_id}_collapse",
		:style=>(pages.size > 0 ? '' : 'display:none;')
	) %></span><%
end %><span class="separator">.</span>
<%

%><%= link_to page.title, page.full_url, {:title=>page.description} %><%

if page.children.size > 0 %>
<span class="meta">(<%= page.children.size %> sub-page<%= page.children.size != 1 ? 's' : '' %>)</span>
<%
end

if current_user && (current_user.admin or current_user.staff)
	#if page.is_container?
		%>
<%=
		link_to('<img src="/icon/new.png" width="16" height="16" alt="New" ' +
				'class="diricon" />',
			{:controller=>'pages', :action=>'new', :id=>page},
			{:title=>"Add a new sub-page for this #{page.class}"})
			%><span class="separator">.</span><%
	#end
	%><%=
	link_to('<img src="/icon/edit.png" width="16" height="16" alt="Edit" ' +
			'class="diricon" />',
		edit_page_path(page),
		{:title=>"Edit this page"})
		%><span class="separator">.</span><%=
	link_to_remote '<img src="/icon/delete.png" width="16" height="16"' +
			' alt="Delete" class="diricon" />',
		{:url=>{:controller=>'pages', :action=>'destroy', :id=>page},
		:method=>'delete',
		:loading=>"Element.update('#{row_id}_delete'," +
			"'<img src=\"/images/indicator.gif\" width=\"16\" height=\"16\"" +
			" alt=\"Processing…\" class=\"diricon\" />');",
		:loaded=>"Element.update('#{row_id}_delete'," +
			"'<img src=\"/icon/delete.png\" width=\"16\" height=\"16\"" +
			" alt=\"Delete\" class=\"diricon\" />');",
		#:success=>"Element.replace('#{row_id}_delete','');",
		:confirm=>
			"Are you sure you want to permanently delete the page “#{page.title}”?"
		},
		{:href=>url_for({:controller=>'pages', :action=>'destroy', :id=>page}),
		:title=>"Permanently delete this page", :method=>'delete',
		:id=>"#{row_id}_delete"
		} %>
<%
end

%><ul id="<%= row_id %>_pages">
<%
#page_path(page)
if pages.size > 0
%><%= render :partial=>'page', :collection=>pages %>
<%
end
%></ul><%

%></li>
