<%
# SPECIAL VARIABLES:
#
# @page_title || @content_for_title: will append to the page title
# @content_for_description: will set the value of the description meta tag
# @content_for_keywords: will set the value of the keywords meta tag
# @content_for_head: extra content to put in the head (meta) of the document
# @body_attrs: attributes for the body element
# @content_for_sidebar: will add as the page sidebar if not empty
# @content_columns: an array of content columns (strings)
# @page: will use to determine title and other metadata if set
#
# Generate the content_for_ variables using the content_for function.
# E.g.:
# 	content_for("head") do
# 		print "<meta />"
# 	end


# CONFIGURATION
website_title = WAYGROUND['TITLE']
website_prefix = WAYGROUND['TITLE_PREFIX']


# Determine the section

#def section_from_subpath(subpath)
#	section = nil
#	case subpath
#	when '/'
#		section = 'home'
#	when 'about'
#		section = 'about'
#	when 'contact'
#		section = 'contact'
#	when 'events'
#		section = 'events'
#	when 'povertytalks'
#		section = 'povertytalks'
#	when 'video'
#		section = 'video'
#	end	
#	# help signup account login
#	section
#end

@section ||= nil
#if !@section and @page
#	@section = section_from_subpath @page.subpath
#	unless @section
#		parent_chain = @page.parent_chain
#		while !@section and (parent = parent_chain.shift)
#			@section = section_from_subpath parent.subpath
#		end
#	end
#elsif !@section and @controller.class == UsersController
#	case @controller.action_name
#	when 'new'
#		@section = 'signup'
#	when 'show'
#		@section = 'account'
#	end
#elsif !@section and @controller.class == SessionsController and @controller.action_name == 'new'	
#	@section = 'login'
#elsif !@section and @controller.class == PagesController and @controller.action_name == 'index'	
#	@section = 'sitemap'
#end


# special case this on the front page so that links don't refer to the page they're already on:
if request.request_uri == "/"
	website_root_link = nil
	website_root_title_link = website_title
	if @page_title.blank?
		# set the page title to the website title for the front page only
		@page_title = website_title
	end
else
	if @page_title.blank?
		if @page and !(@page.title.blank?)
			@page_title = @page.title
			unless @content_for_title.blank?
				@page_title += ": #{@content_for_title}"
			end
		elsif !(@content_for_title.blank?)
			@page_title = @content_for_title
		else
			@page_title = controller.controller_name()
			unless controller.action_name.blank?
				@page_title = ": #{controller.action_name}"
			end
		end
	end
	website_root_link = '/'
	website_root_title_link = '<a href="/">' + website_title + '</a>'
end


-%>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%
if @page_title == website_title or @page_title == website_prefix
	%><%= h @page_title %><%
else
	%><%= website_prefix %>: <%= h @page_title %><%
end
%></title>
<%= stylesheet_link_tag 'wg', :cache=>true %>
<%= stylesheet_link_tag 'way', :cache=>true %>
<% #= stylesheet_link_tag 'print', :media=>'print'
-%>
<%
# set this tag to the width of the page in pixels.
# optimizes display on iPhone
#meta name="viewport" content="width=808" /
-%>
<%= javascript_include_tag :defaults, :cache=>true %>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<%= @content_for_head
	# You can include content for the head (meta) by wrapping it in
	# a call to: content_for("head") do ... end
-%>
<% if false
	# TODO: if @page and logged_in? and (current_user.admin? || @page.can_edit?)
	%><link rel="edit" href="/pages/<%= @page.id
		%>/edit/" title="Edit page <%= @page.id %>" />
<% end
unless @content_for_description.blank?
	%><meta name="description" content="<%=h @content_for_description %>" />
<% end
unless @content_for_keywords.blank?
	%><meta name="keywords" content="<%=h @content_for_keywords %>" />
<% end -%>
<link rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/" title="Creative Commons License" />
<meta name="MSSmartTagsPreventParsing" content="true" />
</head>
<body<%= @body_attrs %>><div id="bodycontainer">
<ul class="cue" id="skiplinks">
<li><a rel="bookmark" href="#sidebar">Skip to sidebar</a>.</li>
<li><a rel="bookmark" href="#content">Skip to content</a>.</li>
</ul>
<div id="header">
<h1 id="title"><% if website_root_link
	%><a href="<%= website_root_link %>" title="<%= h website_title %>"><%
end %><img src="/images/wayground-logo-64x39.png" alt=" " width="64" height="39" id="logo" /><% if website_root_link
	%></a><%
end %>
<%= website_root_title_link %></h1>
<map title="Navigation Bar" name="NavigationBar" id="navigation"><p id="menu">
<%= link_to 'Pages', pages_path, {
	:class=>(@section == 'pages' ? 'current-tab' : nil),
	:title=>'Page management for this site'
	} %><span class="separator">,</span>
<%= link_to 'Groups', groups_path, {
	:class=>(@section == 'groups' ? 'current-tab' : nil),
	:title=>'Groups'
	} %><span class="separator">,</span>
<%= link_to 'Documents', documents_path, {
	:class=>(@section == 'documents' ? 'current-tab' : nil),
	:title=>'Document/file management for this site'
	} %><span class="separator">,</span>
<%
# ### USER ACCESS LINKS
if current_user
	%><%= link_to 'Account', account_users_path, {
		:class=>(@section == 'account' ? 'current-tab' : nil),
		:title=>'View your account/registration information for this website'
		} %><span class="separator">,</span>
<%=	link_to 'Logout', logout_path, {:method=>'delete', :href=>logout_path,
	:title=>'Sign-out from this website'} %><%
else
	%><%= link_to 'Sign-up', signup_path, {
		:class=>(@section == 'signup' ? 'current-tab' : nil),
		:title=>'Sign-up (register) on this website to access additional functions'
		} %><span class="separator">,</span>
<%=	link_to 'Login', login_path, {
		:class=>(@section == 'login' ? 'current-tab' : nil),
		:title=>'Registered users can sign-in to this website to access additional functions'
		} %><%
end %><span class="separator">.</span>
</p></map>
</div>

<%
# ### SUB-MENU FOR CURRENT SECTION
unless @content_for_sectionheader.blank?
	%><div id="section-header"><%= @content_for_sectionheader %>
<%	# ### SEARCH FORM
	%></div>
<%
end	%>
<div id="main">


<div id="sidebar">
<%
unless @content_for_sidebar.blank?
	%><%= @content_for_sidebar %><%
end
%>
</div>
<div id="flash"<%= flash.length <= 0 ? ' style="display:none"' : '' %>><%
# clear any empty flash messages
flash.each do |key, msg|
	if msg.blank?
		flash.delete(key)
	end
end
if flash.length > 0
	flash.each do |key, msg|
		%><p class="<%= key %>"><%= msg %></p>
<%	end
end %></div>
<div id="content">
<%=

#@content_for_layout
yield

%>
</div></div>
<div id="footer">
<%

#if logged_in? and current_user.admin
#	content_for("footermenu") do
#		% ><%= link_to 'Site Map', {:controller=>'pages', :action=>'index'} % ><%
#	end
#end

unless @content_for_footermenu.blank?
	%><p id="footer-menu">
<%=	@content_for_footermenu
	%></p>
<%
end
%><p class="meta"><%
if params[:debug] == 'y'
	if params[:debug] == 'y'
		%>{:controller=&gt;:<%= h params[:controller] %>, :action=&gt;:<%=
			h params[:action] %>}
<br /><%
	end
end
%>Page generated at: <%= Time.current.to_s(:time_date) %></p>
</div>
</div></body></html>